DATABASE_URL=postgres://medusa:medusa@localhost:5433/medusa_db

# Medusa Admin
MEDUSA_ADMIN_TOKEN=supersecretadmin

# Mercado Pago
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=

# SimpleAPI (Facturación Electrónica Chile)
SIMPLE_API_KEY=

# Google Cloud Storage
GCP_BUCKET_NAME=

# Meilisearch
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_API_KEY=masterKey123
